.section--yourpreferences {
    padding: 96px 0;
}

.submit--container button {
   margin-bottom: 100px;
   text-align: center;
   margin-top: 25x;
   margin-left: 420px;
}

.appliance--box {
    margin-left: -19px;
}

.morningslot--box {
    margin-top: 55px;
    margin-left: -50px;
}

.username--box {
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
    margin-right: 70px;
}

.latemorning--box {
    margin-top: 50px;
    margin-left: -100px;
}

.afternoon--box {
    margin-left: -65px;
    margin-top: 50px;
}

.viewpreferences--btn {
    text-align: center;
    align-items: center;
    margin-left: 950px;
    margin-top: -30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 200px;
    padding: 16px 32px;
    border: none;
    transition: all 0.2s;
    color: white;
    background-color: #1e7e68;
    cursor: pointer;
}

.viewcontainer--btn {
    margin-bottom: 150px;
    margin-top: -60px;
}

.eveningslot--box {
    margin-top: 50px;
    margin-left: -42px;

}