.admin--description {
    padding: 100px;
}

.register--form {
    padding: 20px;
    display: inline-block;
}

.register {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: -50px;
}

.username--box {
    padding: 20px;
  
}

.register--form label {
    font-size: 24px;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
 }

.register--form input {
    color: black;
    margin-top: 50px;
    display: inline-block;
    margin-left: -20px;
    margin-top: 30px;
    align-items: center;
}

.email--box {
    margin-left: 20px;
    margin-top: 20px;
}