/*

Main Color: #00b894
*/

.section--home {
    background-color: #d3e8e3;
  padding: 300px;
}

.home--grid {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
}

.heading--primary {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.3px;
    margin-bottom: 32px;
    color: #218c74;
}

.home--description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link, .btn:visited {
    display: inline-block;
    background-color: #218c74;
    font-size: 20px;
    border-radius: 150px;
    padding: 16px 32px;
    color: white;
    text-decoration: none;
}

.home--img {
    width: 100%;
    
}