/*

Main Color: #00b894
*/

.section--home {
    background-color: #d3e8e3;
    padding: 280px 0;
}

.home--grid {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
}

.heading--primary {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.3px;
    margin-bottom: 32px;
    color: #218c74;
}

.home--description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link, .btn:visited {
    display: inline-block;
    font-size: 20px;
    border-radius: 150px;
    padding: 14px 28px;
    text-decoration: none;
    transition: all 0.5s;
}

.home--img {
    width: 100%;
}

.btn--full:link, .btn--full:visited {
    background-color: #218c74;
    color: white;
}

.btn--full:active, .btn--full:hover {
    background-color: #1e7e68;
}

.btn--outline:link, .btn--outline:visited {
    background-color: white;
    color: black;
}

.btn--outline:hover, .btn--outline:active {
    background-color: #1e7e68;
    color: white;
}