/*

Main Color: #00b894
*/

.section--home {

}

.home--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-text-box {

}

.home-img-box {

}

.btn {
    
}

.home--img {
    width: 50%;
}